/problema1/Problema01/nbproject/private/
/problema1/Problema01/build/
/problema2/Problema02/nbproject/private/
/problema2/Problema02/build/
/problema3/Problema03/nbproject/private/
/problema3/Problema03/build/
/problema4/Problema04/nbproject/private/
/problema4/Problema04/build/
